<h1>Courses#index</h1>
<%= link_to "New Course", {:controller => 'courses', :action => 'new'}%>

<% _count = 0 %>
<div class ="container">
  <% @courses.each do |course| %>
    <% if _count%3==0 %>
      <div class="row">
    <%end%>    
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail text-center">
        <%= image_tag("david.jpg", :alt => "david", :size=> "242x200") %>
        <div class="text-center">
          <h3><%= course.title %></h3>
          <div class="text-justify ellispsis"><%= truncate(course.description, :length => 300)%></div>
          <p><a href="#" class="btn btn-primary" role="button">Details</a> <a href="#" class="btn btn-success" role="button">Enroll</a></p>
        </div>
      </div>
    </div>
    <% if _count%3==2 %>
      </div>
    <%end%>  
    <% _count = _count+1 %>
  <%end%>
</div>