<header class="navbar navbar-fixed-top navbar-inverse">

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li><strong><%= link_to "Edumax", {:controller => '/home', :action => 'index'}, class: 'navbar-brand' %></strong></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">

        <li><%= 

        if user_signed_in?
          link_to "Log out", destroy_user_session_path, method: :delete
        else
        end

        %></li>

        <% if user_signed_in? %>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <%= current_user.name %>

       <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>

      <% else
         end%>
      </ul>
    </div>
</header>